<h1>Welcome to Ben's Amusement Park!</h1>
<h2> Where your kids are guaranteed to go home sick and your pockets emptier than when you started...</h2>


<p>blah blah blah this park is amazing</p>

<%= link_to( "Sign Up", signup_path) %> <br/>


<%= link_to( "Sign In", login_path) %> <br/>
